/* GENERAL */
body, html{
    overflow-x: hidden;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    letter-spacing: 30px;
}

h2{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6rem;
}

.padding-section{
    padding: 120px 0;
}

.grey-section{
    background-color: rgb(245,245,245);
}

.divider{
    width: 20px;
    margin-bottom: 40px;
    border-bottom: 3px solid #bd9f86;
}
/* FIN GENERAL */

/* LOADER / SPINNER */
.spinner{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #444;
    z-index: 9999;
}

.spinner img{
    -webkit-filter: invert(100%);
            filter: invert(100%);
    -webkit-animation: rotar 5s infinite linear;
            animation: rotar 5s infinite linear;
}

@-webkit-keyframes rotar {
    from{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
    }
}

@keyframes rotar {
    from{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
    }
}
/* FIN LOADER / SPINNER */

/* HEADER */
header{
    min-height: 100vh;
}

.hero{
    margin-top: 15vh;
    text-align: center;
}

.hero h1{
    color: #777;
}

/* animación SVG */
.hero svg{
    height: 38vh;
    margin-top: 10vh;
    -webkit-transition: all .8s;
    transition: all .8s;
}

.hero svg.terminado{
    -webkit-transform: rotate(-360deg) scale(1.1) translateY(10px);
            transform: rotate(-360deg) scale(1.1) translateY(10px);
}

.hero svg.terminado .g{
    fill: yellow;
}

.hero svg *{
    fill:none;
    stroke: #000000; 
    stroke-width: 1; 
    -webkit-transition: fill 2s; 
    transition: fill 2s;
}
/* fin animación SVG */
/* FIN HEADER */

/* SECCIÓN INTRO */
#intro-nosotros{
    -webkit-box-shadow: inset 0px 10px 20px rgba(0,0,0,0.05);
            box-shadow: inset 0px 10px 20px rgba(0,0,0,0.05);
}

#intro-nosotros h2{
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

#intro-nosotros p{
    text-align: justify;
    padding-right: 50px;
    color: #777;
}

#carruselClientes2{
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

#carruselClientes2 img{
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-filter: grayscale(90%);
            filter: grayscale(90%);
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
#carruselClientes2 img:hover{
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
}

#videoPresentacion{
    width: 100%;
}

#intro-nosotros .video-controls{
    text-align: right;
}

#intro-nosotros .video-controls button{
    border: none;
    background: none;
}

#intro-nosotros .video-controls button:active,
#intro-nosotros .video-controls button:focus{
    outline: none;
}

#intro-nosotros .video-controls button i{
    color: #777;
    font-size: 1.5rem;
}

#intro-nosotros .video-container-inner{
    position: relative;
}

#iconoPlayVid{
    position: absolute;
    color: #444;
    font-size: 5rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
}
/* FIN SECCIÓN INTRO */

/* SECCIÓN PROCESO */
.subtitle{
    margin-bottom: 80px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #333;
}

.subtitle i{
    margin-right: 10px;
    font-size: 1.5rem;
}

#process img.responsive{
    width: 100%;
}

#process .reveal{
    opacity: 0;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
    -webkit-transition-duration: 1.2s;
            transition-duration: 1.2s;
}

#process .reveal.visible{
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

.marginsY{
    margin: 100px 0;
}

.facts .numero{
    font-family: 'Lato', sans-serif;
    font-size: 7rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: #edefeb;
}

.facts article{
    padding-left: 60px;
    color: #999;
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
}

.facts article h3{
    font-size: 1.2rem;
}
/* FIN SECCIÓN PROCESO */

/* SECCIÓN SKILLS */
#skills{
    padding: 50px 0;
    /* background-image: url(../img/backgrounds/bg-skills.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

#skills .elemento{
    padding: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#skills .elemento article{
    padding: 20px;
    border: 1px solid #fff;
    background: rgba(255,255,255,0.2);
}

#skills i{
    margin-bottom: 20px;
    font-size: 3rem;
    color: #fff;
}

#skills .elemento h5{
    text-transform: lowercase;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-style: italic;
}

#skills .numero{
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    font-size: 42px;
    color: #fff;
    font-weight: 500;
}
/* FIN SECCIÓN SKILLS */

/* SECCIÓN EQUIPO */
#team article{
    text-align: center;
    position: relative;
}

#team article img{
    margin-bottom: 30px;
    width: 100%;
}

#team article ul{
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    background-color: white;
}

#team article ul .divider{
    width: 50%;
    margin: 0 25%;
    border-bottom: 1px solid #bd9f86;
    opacity: .5;
}

#team article ul li a{
    display: block;
    padding: 8px 5px;
    color: #bd9f86;
}

#team article .header .divider{
    width: 50px;
    margin: 20px auto;
    border-bottom: 1px solid black;
    opacity: .2;   
}

#team .reveal{
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    -webkit-transition-duration: 2s;
            transition-duration: 2s;
}

#team .reveal.visible{
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.delay-2{
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
}
.delay-4{
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
}

#team .row:last-of-type{
    margin-top: 100px;
}

#team .claimbar{
    background-image: url(../img/graphic/contain-line.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 60px;
    text-align: center;
}

#team .claimbar p{
    text-transform: uppercase;
    color: #bd9f86;
    font-size: 0.9rem;
}

#team div[class^="progress"] {
    height: 4px;
    background: rgba(0,0,0,.2);
    margin-bottom: 10px;
    position: relative;
}

#team div[class^="progress"]:before {
    content: '';
    position: absolute;
    background:black;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 1s;
    transition: width 1s;
    width: 0;
}

#team .visible .progress50:before{
    width: 50%;
    -webkit-transition-delay: 1.6s;
            transition-delay: 1.6s;
}
#team .visible .progress70:before{
    width: 70%;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
}
#team .visible .progress90:before{
    width: 90%;
    -webkit-transition-delay: 1.4s;
            transition-delay: 1.4s;
}
#team .visible .progress100:before{
    width: 100%;
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
}
/* FIN SECCIÓN EQUIPO */

/* SECCIÓN VIDEO */
#video{
    text-align: center;
    color: #fff;
}
/* FIN SECCIÓN VIDEO */

/* SECCIÓN PROYECTOS */
#proyectos{
    text-align: center;
    background-image: url(../img/backgrounds/looping-blanco.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
}

#proyectos i{
    padding: 10px;
    font-size: 32px;
    color: #bd9f86;
}

#proyectos h2{
    font-size: 1.2rem;
    color: #999;
}

#proyectos p{
    font-size: 0.9rem;
    color: #999;
}

#proyectos a{
    margin-top: 60px;
}

.divisor{
    width: 50px;
    height: 5px;
    margin: 10% auto 0;
    background-color: #d7d7d7;
}

.imagen-proyecto{
    width: 100%;
}

#proyectos img.reveal{
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
}

#proyectos img.reveal.visible{
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
}
/* FIN SECCIÓN PROYECTOS */

/* SECCIÓN TRABAJOS */
#trabajos img{
    width: 100%;
    -webkit-filter: grayscale(70%);
            filter: grayscale(70%);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
}
#trabajos img:hover{
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}
/* FIN SECCIÓN TRABAJOS */

/* FOOTER */
footer{
    color: #777;
    font-size: 0.9rem;
    background-image: url(../img/backgrounds/bg-atracciones.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

footer .col-md-3{
    padding-left: 30px;
}

footer h4{
    margin-bottom: 40px;
    font-size: 1rem;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li{
    margin-bottom: 10px;
}

.margins-around{
    margin: 5px;
}

.centrado{
    display: block;
    text-align: center;
}

.hecho{
    margin-top: 50px;
}

.tachado{
    text-decoration: line-through;
}

.legal{
    color: #333;
}
/* FIN FOOTER */

/* RESPONSIVE */
@media screen and (max-width: 789px){
    #intro-nosotros h2{
        min-height: 80px;
    }
}

@media screen and (max-width: 767px){
    .navbar-brand{
        -ms-flex-item-align: start;
            align-self: start;
    }
    nav > div{
        text-align: right;
    }
    #navbarNav{
        margin-top: 30px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 399px){
    h1{
        font-size: 2rem;
    }
}
/* FIN RESPONSIVE */